@model RenewLoanRequest
@{
    ViewData["Title"] = "Renew Book";
}

<h2 class="text-3xl font-bold mb-6">Renew Book</h2>

@await Html.PartialAsync("_AlertsPartial")

<div class="bg-white shadow-md rounded-lg overflow-hidden p-6 mb-7">
    <form asp-action="Renew" method="post">
        <input type="hidden" asp-for="@Model.LoanId"/>
        <div class="space-y-6">          
            <div>
                <label asp-for="NewDueDate" class="block text-gray-700 text-base font-bold mb-2">New Due Date</label>
                <input asp-for="NewDueDate" type="datetime-local" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                <span asp-validation-for="NewDueDate" class="text-red-600 text-sm"></span>
            </div>
            <div>
                <label asp-for="RenewalReason" class="block text-gray-700 text-base font-bold mb-2">Renewal Reason</label>
                <textarea asp-for="RenewalReason" type="text" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                          placeholder="Enter renewal reason here..."></textarea>
                <span asp-validation-for="RenewalReason" class="text-red-600 text-sm"></span>
            </div>
            <div>
                <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

<button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
    <a asp-action="Details" asp-route-id="@Model.LoanId">
        Back to Details
    </a>
</button>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}