<footer class="flex flex-col items-center justify-center bg-surface px-8 py-8 dark:bg-surface-dark">
	<hr class="w-full border-outline pb-4 dark:border-outline-dark">
	<span class="inline">
		<b>
			Library<span class="text-primary dark:text-primary-dark">Sys</span>
		</b>
		2025
	</span>
	<div class="mt-2 flex items-center gap-2 text-xs">
		<a class="text-on-surface dark:text-on-surface-dark"
		   asp-area="" asp-controller="Home" asp-action="Privacy">
			Privacy
		</a>
	</div>
</footer>