<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Web</title>
	<script type="importmap"></script>
	<style>
		[x-cloak] {
			display: none
		}
	</style>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<link rel="stylesheet" href="~/css/tailwind.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body class="min-h-screen flex flex-col">
	@{
		await Html.RenderPartialAsync("_NavBar");
	}

	<div class="flex-grow">
		<main role="main" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
			@RenderBody()
		</main>
	</div>

	@{
		await Html.RenderPartialAsync("_Footer");
	}

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
